.App {
    margin: 10px;
}
.App {
    color: #2D2E46;
    background: linear-gradient(180deg, #E6D4DE 0%, #9890C7 100%);
    min-height: 100vh;
}

form {
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    background: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px 12px #ddd;
}

form label {display: block; margin-left: 10px;}

